.button {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 2px 2px 5px 3px var(--color-black-shadow);
  font-size: 18px;
  @media (max-width: 575.98px) {
    font-size: 12px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 14px;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    font-size: 15px;
  }
  &:hover {
    background-color: rgba(75, 76, 78, 0.9);
    color: white;
  }
}
