.container {
  box-shadow: 2px 2px 5px 3px var(--color-black-shadow);
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  z-index: 1000;
  min-width: 260px;

  .options {
    display: flex;
    gap: 10px;
    @media (max-width: 575.98px) {
      flex-wrap: wrap;
    }
    @media (min-width: 575px) {
      flex-direction: column;
    }
    & span {
      font-size: 20px;
    }
    .options__topSection {
      width: 100%;
      display: flex;
      flex-direction: column;
      @media (max-width: 574.98px) {
        flex-direction: column;
      }
      gap: 5px;
    }
    .options__bottomSection {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 5px;
    }
  }
  .textLabel {
    font-size: 17px;
    display: inline-block;
    margin-top: 10px;
  }
  .text {
    display: block;
    resize: none;
    min-width: 240px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px 10px;
    height: 100px;
    overflow: auto;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px 3px var(--color-black-shadow);
    cursor: auto;
    &:focus {
      box-shadow: 2px 2px 5px 3px var(--color-blue-shadow);
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: rgba(34, 37, 40, 0.3);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba(34, 37, 40, 1);
    }
  }
  .btns {
    display: flex;
    justify-content: space-between;
  }
}
