.form {
  display: flex;
  flex-direction: column;

  min-width: 270px;
  padding: 0 5px;
  .error {
    display: flex;
    align-items: center;
    height: 40px;
    color: red;
    font-size: 15px;
  }
}
.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
