.option {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  min-width: 85px;
  max-width: 200px;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.4);
  .btn {
    cursor: pointer;
    font-size: 32px;
    &._active {
      transform: rotate(180deg);
    }
  }
  .display {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-right: 1px solid black;
    padding: 5px 10px;
  }
  .body {
    z-index: 300;
    display: none;
    position: absolute;
    width: calc(100% + 5px);
    top: calc(100% + 5px);
    left: -2px;
    min-height: 30px;
    max-height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.9);
    }
    &._active {
      display: block;
    }
    .item {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 20px;
      padding: 5px 10px;
      font-size: 18px;
      background-color: white;
      &:hover {
        color: white;
        background-color: rgba(34, 37, 40, 0.7);
        transform: scale(1.2);
      }
    }
  }
}
